- if current_user
	Welcome 
	= link_to current_user.name, 'http://twitter.com/'+current_user.username
	= link_to "Sign Out", signout_path
	%br
	- unless @list_count.nil?
		Number of lists: 
		= @list_count
- else
	%a{:href => "/auth/twitter"}
		%img{:alt => "Sign in with Twitter", :src => '/images/twitter.png'}